footer {
    display: grid;
    background-color: black;
    position: relative;
    margin-top: 20%;
    height: max-content;
    bottom: 0;
}
footer > #subscription-container {
    grid-area: 1 / 1 / span 2 / span 1;
    margin-top: 2%;
    max-width: 100%;
    width: 400px;
    height: 100px;
}
footer > #contact-us-container {
    width: 400px;
    height: 100px;
    max-width: 100%;
    margin-top: 2%;
    grid-area: 1 / 2 / span 2 / span 1;
    display: flex;
    flex-direction: column;
}
footer > #contact-us-container > .container {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}
footer > #contact-us-container > .container >  a {
    width: 33.33%;
    margin-left: 10%;
}
footer > #contact-us-container > .container >  a > svg {
    width: 40px;
    height: 40px;
}
@media only screen and (max-width: 800px) {
    footer > #subscription-container {
    grid-area: 1 / 1 / span 2 / span 1;
    margin-top: 2%;
    width: 80%;    
    }
    footer > #contact-us-container {
    margin-top: 0.5%;
    grid-area: 3 / 1 / span 2 / span 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    }
}