{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <!-- Bootstrap CSS-->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% include "home_page/home_navbar.html" %}
        <title>Wishlist</title>
    </head>
    <body>
        <div class="container">
            <h1>Wishlist</h1>
            {% if user.is_authenticated %}
            <p>
                <button type="button" 
                        class="btn btn-primary js-create-item"
                        
                        data-toggle="modal"
                        data-target="#createItemModal">
                    <span class="glyphicon glyphicon-plus">+</span>
                    New Wishlist Item
                </button>
            </p>
            {% endif %}
        </div>
        <div class="container">
            <table class="table" id="wishlistTable">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Jumlah</th>
                    <th scope="col" colspan=2 style="text-align: center;">Action</th>
                </tr>
                {% if user.is_authenticated %}
                {% for item in wishlists %}
                    <tr id="item-{{item.id}}">
                        <td class="itemCounter itemData" name="counter">{{ forloop.counter }}</td>
                        <td class="itemName itemData" name="name">{{ item.name }}</td>
                        <td class="itemPrice itemData" name="price"><label class="currency">Rp</label><label class="harga">{{ item.price }}</label></td>
                        <td class="itemCount itemData" name="count">{{ item.count }}</td>
                        <td style="width: 150px;">
                            <button type="button"
                                    class="btn btn-warning btn-sm js-edit-item" 
                                    onClick="editItem({{ item.id }})" 
                                    data-toggle="modal" 
                                    data-target="#updateItemModal">EDIT
                            </button>
                            <button type="button"
                                    class="btn btn-danger btn-sm js-delete-item"
                                    onClick="deleteItem({{ item.id }})">DELETE
                            </button>
                        </td>
                        <td>
                            <button onclick="location.href='/cart/'" type="button" class="btn btn-secondary">
                                Add to Cart</button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center bg-warning">No Items</td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="6" class="text-center bg-danger">Please login or register to view wishlist</td>
                </tr>
                {% endif %}
            </table>
        </div>

        <div class="modal fade" id="createItemModal" tabindex="-1" role="dialog" aria-labelledby="createItemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="createItemModalLabel">Create Item</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden=true>x</span>
                        </button>
                    </div>
                    <form id="createItem" action="">
                        <div class="modal-body">
                            <label for="name">Name</label>
                            <input class="form-control" id="form-name" type="text" name="formName"/>
                            <label for="price">Price</label>
                            <input class="form-control" id="form-price" type="number" name="formPrice"/>
                            <label for="count">Count</label>
                            <input class="form-control" id="form-count" type="number" name="formCount"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Create Item</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="updateItemModal" tabindex="-1" role="dialog" aria-labelledby="updateItemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="updateItemModalLabel">Update</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden=true>x</span>
                        </button>
                    </div>
                    <form id="updateItem" action="">
                        <div class="modal-body">
                            <input class="form-control" id="form-id-update" type="hidden" name="formUpdateId"/>
                            <label for="name">Name</label>
                            <input class="form-control" id="form-name-update" type="text" name="formUpdateName"/>
                            <label for="price">Price</label>
                            <input class="form-control" id="form-price-update" type="number" name="formUpdatePrice"/>
                            <label for="count">Count</label>
                            <input class="form-control" id="form-count-update" type="number" name="formUpdateCount"/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update item</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
        <script>
            // Create Django Ajax Call
            $("form#createItem").submit(function() {
                var nameInput = $('input[name="formName"]').val().trim();
                var priceInput = $('input[name="formPrice"]').val().trim();
                var countInput = $('input[name="formCount"]').val().trim();
                if (nameInput && priceInput && countInput) {
                    // Create Ajax call
                    $.ajax({
                        url: '{% url "create_item" %}',
                        data: {
                            'name': nameInput,
                            'price': priceInput,
                            'count': countInput
                        },
                        dataType: 'json',
                        success: function(data){
                            if (data.item) {
                                appendToTable(data.item);
                                console.log('success add!');
                            }
                        }
                    });
                } else {
                    alert("All fields must have a valid value.");
                }
                $('form#createItem').trigger("reset");
                $('#createItemModal').modal('hide');
                $(".modal").modal("hide");
                $(".modal-backdrop").remove();
                return false;
            });

            function appendToTable(item) {
                $("#wishlistTable > tbody:last-child").append(`
                <tr id="item-${item.id}">
                    <td class="itemCounter itemData" name="counter">${item.id}</td>
                    '<td class="itemName itemData" name="name">${item.name}</td>
                    '<td class="itemPrice itemData" name="price"><label class="currency">Rp</label><label class="harga">${item.price}</label></td>
                    '<td class="itemCount itemData" name="count">${item.count}</td>
                    '<td style="width: 150px;">
                        <button type="button"
                                class="btn btn-warning btn-sm js-edit-item" 
                                onClick="editItem(${item.id})" 
                                data-toggle="modal" 
                                data-target="#updateItemModal">EDIT
                        </button>
                        <button type="button"
                                class="btn btn-danger btn-sm js-delete-item"
                                onClick="deleteItem(${item.id})">DELETE
                        </button>
                    </td>
                    '<td>
                        <button onclick="location.href='/cart/'" type="button" class="btn btn-secondary">
                            Add to Cart</button>
                    </td>
                </tr>
                `);
            }

            // Create Django Ajax Call
            $("form#updateItem").submit(function () {
                var idInput = $('input[name="formUpdateId"]').val().trim();
                var nameInput = $('input[name="formUpdateName"]').val().trim();
                var priceInput = $('input[name="formUpdatePrice"]').val().trim();
                var countInput = $('input[name="formUpdateCount"]').val().trim();
                if (nameInput && priceInput && countInput) {
                    // Create Ajax call
                    $.ajax({
                        url: '{% url "update_item" %}',
                        data: {
                            'id': idInput,
                            'name': nameInput,
                            'price': priceInput,
                            'count': countInput
                        },
                        dataType: 'json',
                        success: function(data){
                            if (data.item) {
                                updateTable(data.item);
                                console.log('success update');
                            }
                        }
                    });
                } else {
                    alert("UPDATE All fields must have a valid value.");
                }
                $('form#updateItem').trigger("reset");
                $('#updateItemModal').modal('hide');
                $(".modal-fade").modal("hide");
                $(".modal-backdrop").remove();
                return false;
            });

            function editItem(id) {
                if (id) {
                    tr_id = "#item-" + id;
                    name = $(tr_id).find(".itemName").text();
                    price = $(tr_id).find(".itemPrice").find(".harga").text();
                    count = $(tr_id).find(".itemCount").text();
                    $('#form-id-update').val(id);
                    $('#form-name-update').val(name);
                    $('#form-price-update').val(price);
                    $('#form-count-update').val(count);
                }
            }

            function updateTable(item) {
                $("#wishlistTable #item-" + item.id).children(".itemData").each(function() {
                    var attr = $(this).attr("name");
                    if (attr == "name") {
                        $(this).text(item.name);
                    } else if (attr == "price") {
                        $(this).text(item.price);
                    } else if (attr == "count") {
                        $(this).text(item.count);
                    } 
                });
            }

            // Delete Django Ajax Call
            function deleteItem(id) {
                var action = confirm("Are you sure you want to delete this item?");
                if (action != false) {
                    $.ajax({
                        url: '{% url "delete_item" %}',
                        data: {
                            'id': id,
                        },
                        dataType: 'json',
                        success: function(data) {
                            if (data.deleted) {
                                $("#wishlistTable #item-" + id).remove();
                            }
                        }
                    });
                }
            }
        </script>
    </body>
</html>
