<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">  
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% include "home_page/home_navbar.html" %}
        <link rel="stylesheet" type="text/css" href='{% static "css/fitur-masker.css" %}'>
    </head>
    <body>
        <div class = "container" id="fitur-container">
            
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Terpercaya</h5>
                    <p class="card-text">Masker kami memiliki tingkat filtrasi hingga 70%</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Higienis</h5>
                    <p class="card-text">Kesterilan produk masker dijaga hingga ke tangan pembeli</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body" >
                    <h1 class="card-title">Fashionable</h5>
                    <p class="card-text">Tidak hanya faktor kesehatan, kami selalu berusaha untuk menjaga faktor estetika produk masker kami</p>
                </div>
            </div>
        </div>
        <div class="container" id="outer-container" style="position: relative; margin-top: 2rem;">
            <div class="container" style="position: relative;">
                <a href="/product-list-page/">
                    <button type="button" class="btn btn-success" style="position: absolute; right: 0;">Lihat Masker Lainnya</button>
                </a>
            </div>
            <div class="container" id="product-summary-container">
            </div>
            <a class="prev">❮</a>
            <a class="next" >❯</a>
        </div>
        <script type="text/javascript" src="{% static 'js/product-summary.js' %}"></script>
           
    </body>
    {% include "home_page/home_footer.html" %}   
</html>

